.mm-resume-presentation {
	display: flex;
	row-gap: var(--mm-spacing-5xs);
	flex-direction: column;
	color: var(--mm-color-typography-default-secondary);
	font-weight: 400;
	font-size: var(--mm-spacing-md);
	font-family: var(--mm-font-family-secondary);
}

.mm-resume-presentation__title {
	margin-block-end: 0;
	color: var(--mm-color-typography-default);
	font-weight: 700;
	font-size: calc(var(--mm-spacing-md) * 1.1);
	font-family: var(--mm-font-family-heading);
}

.mm-resume-presentation__date,
.mm-resume-presentation__event {
	color: var(--mm-color-typography-default-secondary);
	font-weight: 400;
	font-size: var(--mm-spacing-md);
	font-family: var(--mm-font-family-default);
}
