.mm-button {
  background-color: var(--color-primary);
  border: 0;
  border-radius: var(--radius-button);
  color: var(--color-background-default);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-default);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  padding: var(--spacing-sm) var(--spacing-lg);
}
.mm-button:hover {
  background-color: var(--color-primary-dark);
}

.mm-button--secondary {
  background-color: var(--color-primary-lightest);
  color: var(--color-primary-dark);
}

.mm-button--secondary:hover {
  background-color: var(--color-primary-lighter);
}

.mm-button--sm {
  font-size: 0.75rem;
  font-weight: 500;
  padding: var(--spacing-xs) var(--spacing-md);
}

.mm-button--lg {
  font-size: 1.125rem;
  letter-spacing: 0.03rem;
  padding: var(--spacing-md) var(--spacing-xl);
}
