.mm-social-links {
	all: unset;
	display: flex;
	column-gap: var(--mm-spacing-4xs);
	list-style-type: none;
}

.mm-social-links__icon {
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 50%;
	padding: var(--mm-spacing-2xs);
	width: var(--mm-spacing-xl);
	height: var(--mm-spacing-xl);
	color: var(--mm-color-primary);
}

.mm-social-links__icon:hover {
	background-color: var(--mm-color-primary-lighter);
}
