.mm-project-page__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-block-end: var(--mm-spacing-3xl);
	text-align: center;
}

h1.mm-project-page__title {
	margin-block-end: var(--mm-spacing-sm);
	font-size: var(--mm-spacing-5xl);
}

.mm-project-page__description {
	margin-block-end: var(--mm-spacing-md);
	color: var(--mm-color-typography-default-secondary);
	font-weight: 400;
	font-size: var(--mm-spacing-2xl);
	line-height: var(--mm-line-height-subhead);
	font-family: var(--mm-font-family-secondary);
}

.mm-project-page__meta {
	display: inline-flex;
	column-gap: var(--mm-spacing-3xs);
	justify-content: center;
	font-weight: 400;
}

.mm-project-page__tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-block-start: var(--mm-spacing-3xl);
	margin-block-end: var(--mm-spacing-2xs);
}

.mm-project-page__meta-divider {
	margin-block-start: -1px;
	color: var(--mm-color-neutral-light);
}

.mm-project-page__image {
	margin-inline: auto;
	margin-block: var(--mm-spacing-3xl);
	padding-inline: var(--mm-container-padding);
	max-width: var(--mm-container-max-width-standard);
	text-align: center;

	img {
		width: 100%;
		height: auto;
	}
}
