.mm-project-page__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-end: var(--mm-spacing-3xl);
  text-align: center;
}

h1.mm-project-page__title {
  font-size: var(--mm-spacing-5xl);
  margin-block-end: var(--mm-spacing-xs);
}

.mm-project-page__description {
  color: var(--mm-color-typography-default-secondary);
  font-family: var(--mm-font-family-secondary);
  font-size: var(--mm-spacing-xl);
  font-weight: 400;
  margin-block-end: var(--mm-spacing-sm);
}

.mm-project-page__meta {
  column-gap: var(--mm-spacing-3xs);
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
}

.mm-project-page__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block-end: var(--mm-spacing-3xl);
}

.mm-project-page__meta-divider {
  color: var(--mm-color-neutral-light);
  margin-block-start: -1px;
}

.mm-project-page__image {
  margin-block-end: var(--mm-spacing-3xl);
  margin-inline: auto;
  max-width: 960px;
  padding-inline: var(--mm-container-padding);
  text-align: center;

  img {
    height: auto;
    width: 100%;
  }
}
