@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('/fonts/webfonts.css');

@import url('./tokens.css');
@import url('./normalize.css');
@import url('./a11y.css');

@import url('./foundations/index.css');

html {
	font-size: 16px;
}

body {
	color: var(--mm-color-typography-default);
	font-weight: 400;
	font-family: var(--mm-font-family-default);
}

hr {
	margin-block: var(--mm-spacing-4xl);
	border: 0;
	border-top: 1px solid var(--mm-color-border-default);
}

figure {
	all: unset;
}

figcaption {
	margin-block-start: var(--mm-spacing-4xs);
	font-size: var(--mm-spacing-sm);
	font-family: var(--mm-font-family-default);
}
