:root {
  /* base colors */

  --mm-color-primary-lightest: #e3f1ec;
  --mm-color-primary-lighter: #cae3e1;
  --mm-color-primary-light: #8ec2c6;
  --mm-color-primary: #067589;
  --mm-color-primary-dark: #0b535f;
  --mm-color-primary-darker: #0f3a41;
  --mm-color-primary-darkest: #112a2d;

  --mm-color-accent-lightest: #f6f3f4;
  --mm-color-accent-lighter: #ecd8df;
  --mm-color-accent-light: #d8a2b5;
  --mm-color-accent: #b13562;
  --mm-color-accent-dark: #842849;
  --mm-color-accent-darker: #571c30;
  --mm-color-accent-darkest: #2a0f17;

  --mm-color-neutral-lightest: #ffffff;
  --mm-color-neutral-lighter: #f5f4f1;
  --mm-color-neutral-light: #c8c8c6;
  --mm-color-neutral: #949694;
  --mm-color-neutral-dark: #545857;
  --mm-color-neutral-darker: #333838;
  --mm-color-neutral-darkest: #131919;

  /* purpose colors */
  --mm-color-background-default: var(--mm-color-neutral-lightest);
  --mm-color-background-reverse: var(--mm-color-neutral-darkest);
  --mm-color-typography-default: var(--mm-color-neutral-darkest);
  --mm-color-typography-reverse: var(--mm-color-neutral-lightest);
  --mm-color-semantic-success: #439160;
  --mm-color-link: var(--mm-color-primary);
  --mm-color-link-hover: var(--mm-color-accent);
  --mm-color-link-visited: #7559a6;
  --mm-color-focus: #0066db;

  /* spacing */
  --mm-spacing-6xl: 4.77rem;
  --mm-spacing-5xl: 3.81rem;
  --mm-spacing-4xl: 3.05rem;
  --mm-spacing-3xl: 2.44rem;
  --mm-spacing-2xl: 1.95rem;
  --mm-spacing-xl: 1.56rem;
  --mm-spacing-lg: 1.25rem;
  --mm-spacing-md: 1rem;
  --mm-spacing-sm: 0.71rem;
  --mm-spacing-xs: 0.5rem;
  --mm-spacing-2xs: 0.35rem;
  --mm-spacing-3xs: 0.25rem;
  --mm-spacing-4xs: 0.18rem;

  /* radius */
  --mm-radius-circle: 50%;
  --mm-radius-button: 10rem;
  --mm-radius-lg: 0.5rem;
  --mm-radius-md: 0.25rem;
  --mm-radius-sm: 0.125rem;

  /* shadows */
  --mm-shadow-level-1: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  --mm-shadow-level-2: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  --mm-shadow-level-3: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

  /* typography */
  --mm-font-family-default: 'Figtree', sans-serif;
  --mm-font-family-code: 'Source Code Pro', monospace;
  --mm-line-height-heading: 1.25;
  --mm-line-height-reset: 1;
  --mm-line-height-text: 1.5;

  /* Animation */
  --mm-animation-transition-default-delay: 0s;
  --mm-animation-transition-default-duration: 200ms;
  --mm-animation-transition-default-timing-function: ease-in-out;
  --mm-animation-default-transition: all
    var(--mm-animation-transition-default-duration)
    var(--mm-animation-transition-default-timing-function)
    var(--mm-animation-transition-default-delay);

  /* z-index */
  --mm-z-index-dropdown: 200;
  --mm-z-index-modal: 500;
  --mm-z-index-navigation: 100;
  --mm-z-index-notifications: 300;
  --mm-z-index-overlay: 400;
}
