.mm-breadcrumb {
	padding-block: var(--mm-spacing-xl) var(--mm-spacing-2xs);
	font-weight: 400;
	font-size: var(--mm-spacing-md);
	font-family: var(--mm-font-family-default);
}

ol.mm-breadcrumb__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.mm-breadcrumb__item {
	a {
		text-decoration: none;
	}
	a:hover {
		color: var(--mm-color-link-hover);
		text-decoration: underline;
	}

	&:after {
		margin-inline: var(--mm-spacing-2xs);
		content: '/';
		color: var(--mm-color-neutral-light);
	}
}

.mm-breadcrumb__item--current {
	a {
		color: var(--mm-color-typography-default-secondary);
	}
	a:hover {
		color: var(--mm-color-typography-default);
		text-decoration: none;
	}

	&:after {
		content: '';
	}
}
