.mm-tile {
	position: relative;
	box-shadow: var(--mm-shadow-raised);
	border-radius: var(--mm-radius-lg);
	text-align: center;
	text-decoration: none;

	&:hover {
		box-shadow: var(--mm-shadow-active);
	}
}

.mm-tile__tags-popover {
	position: absolute;
	top: var(--mm-spacing-sm);
	right: var(--mm-spacing-sm);
}

.mm-tile__link {
	display: block;
	text-decoration: none;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 2px solid var(--mm-color-focus);
	}
}

.mm-tile__image {
	line-height: 0;

	img {
		border-radius: var(--mm-radius-lg) var(--mm-radius-lg) 0 0;
		width: 100%;
		height: auto;
	}
}

.mm-tile__content {
	display: flex;
	flex-direction: column;
	padding: var(--mm-spacing-md) var(--mm-spacing-lg);
}

.mm-tile__heading {
	margin: 0;
	margin-block-end: var(--mm-spacing-xs);
	font-weight: 600;
	font-size: var(--mm-spacing-xl);
}

.mm-tile__subhead {
	margin: 0;
	color: var(--mm-color-typography-default-secondary);
	font-size: var(--mm-spacing-md);
	line-height: var(--mm-line-height-subhead);
}
