.mm-footer__container {
	display: flex;
	row-gap: var(--mm-spacing-xs);
	flex-direction: column;
	align-items: center;
	padding-block: var(--mm-spacing-4xl);
	text-align: center;
}

.mm-footer__fine-print {
	color: var(--mm-color-typography-default-secondary);
	font-size: var(--mm-spacing-sm);
}
