h3.mm-resume-item__title {
  color: var(--mm-color-typography-default);
  font-family: var(--mm-font-family-heading);
  font-size: var(--mm-spacing-xl);
  font-weight: 800;
  margin-block-end: var(--mm-spacing-xs);
}

h4.mm-resume-item__subtitle {
  color: var(--mm-color-typography-default-secondary);
  column-gap: var(--mm-spacing-xs);
  display: inline-flex;
  font-family: var(--mm-font-family-secondary);
  font-size: var(--mm-spacing-lg);
  font-weight: 400;
}

.mm-resume-item__divider {
  color: var(--mm-color-primary);
  margin-block-start: -1px;
}
