h3.mm-resume-item__title {
	margin-block-end: var(--mm-spacing-2xs);
	color: var(--mm-color-typography-default);
	font-weight: 700;
	font-size: var(--mm-spacing-lg);
	font-family: var(--mm-font-family-heading);
}

h3.mm-resume-item__title--skills {
	margin-block-end: var(--mm-spacing-3xs);
}

.mm-resume-item__subtitle,
.mm-resume-item__skills-topic-items {
	display: inline-flex;
	column-gap: var(--mm-spacing-2xs);
	margin-block-end: var(--mm-spacing-xs);
	color: var(--mm-color-typography-default-secondary);
	font-weight: 400;
	font-size: calc(var(--mm-spacing-lg) * 0.9);
	font-family: var(--mm-font-family-secondary);
}

.mm-resume-item__divider {
	margin-block-start: -1px;
	color: var(--mm-color-typography-default);
	font-weight: 300;
}

.mm-resume-item__description {
	margin-block-end: var(--mm-spacing-md);
	color: var(--mm-color-typography-default);
	font-weight: 300;
	font-size: var(--mm-spacing-md);

	&:last-child {
		margin-block-end: 0;
	}

	p:last-child {
		margin-block-end: 0;
	}
}
