.mm-biography {
	display: flex;
	column-gap: var(--mm-spacing-6xl);
	row-gap: var(--mm-spacing-xl);
	flex-direction: column;
}

.mm-biography__text {
	display: flex;
	flex-direction: column;
	gap: var(--mm-spacing-md);
}

@media (--bp-md) {
	.mm-biography {
		flex-direction: row;
	}
}

.mm-biography__lead-text {
	margin-block-end: var(--mm-spacing-xs);
	color: var(--mm-color-neutral);
	font-style: italic;
	font-size: var(--mm-spacing-2xl);
	line-height: var(--mm-line-height-intro);
	font-family: var(--mm-font-family-secondary);
}

.mm-biography__main-text {
	p {
		font-size: calc(var(--mm-spacing-md) * 1.075);
		line-height: var(--mm-line-height-text);
		font-family: var(--mm-font-family-body);
	}
}

.mm-biography__image img {
	box-shadow: var(--mm-shadow-raised);
	border-radius: var(--mm-radius-lg);
}
