.mm-header {
  padding-block: var(--mm-spacing-md);
}

.mm-header__container {
  align-items: center;
  display: flex;
  gap: var(--mm-spacing-2xl);
  justify-content: space-between;
}

.mm-header__home-link {
  color: var(--mm-color-typography-default);
  text-decoration: none;
  &:hover {
    color: var(--mm-color-primary);
  }
}

.mm-header__site-name {
  all: unset;
  font-family: var(--mm-font-family-heading);
  font-size: var(--mm-spacing-xl);
  font-weight: 600;
}
