.mm-header {
	/* margin-block-end: var(--mm-spacing-md); */
	/* border-bottom: 1px solid var(--mm-color-neutral-lighter); */
	padding-block: var(--mm-spacing-md);
}

.mm-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--mm-spacing-2xl);
}

.mm-header__home-link {
	color: var(--mm-color-typography-default);
	text-decoration: none;

	&:hover {
		color: var(--mm-color-neutral);
	}
}

.mm-header__site-name {
	all: unset;
	color: var(--mm-color-neutral-darkest);
	font-weight: 600;
	font-size: var(--mm-spacing-xl);
	font-family: var(--mm-font-family-heading);

	&:hover {
		color: var(--mm-color-primary);
	}
}
