.mm-page {
	display: grid;
	grid-template-rows: 1fr auto;
	background-color: var(--mm-color-primary-lightest);
	min-height: 100vh;
}

.mm-page-title {
	margin-block-end: var(--mm-spacing-2xl);
}

.mm-main-content {
	padding-block: var(--mm-spacing-3xl);
	min-height: 30rem;
}
