.mm-link {
	--link-color: var(--mm-color-typography-default-secondary);
	--icon-offset: var(--mm-spacing-3xs);

	&:hover {
		--link-color: var(--mm-color-typography-default);
		--icon-offset: var(--mm-spacing-2xs);
	}
}

.mm-link a {
	color: var(--link-color);
	font-weight: 600;
	font-size: var(--spacing-lg);
	font-family: var(--mm-font-family-default);
	text-decoration: none;
}

.mm-link__icon {
	transition: var(--mm-animation-default-transition);
	margin-left: var(--icon-offset);
	color: var(--link-color);
}
